nav {
    font-size: 10pt;
    background-color: #F5F5F5;
}

.breadcrumb{
    margin: 0;
    background: none;
    padding:2px 5px 2px 5px;
}

input{
    margin: 5px;
    border: none;
    border-bottom: 1px solid black;
    font-size: 12pt;
}

.form-control{
    border: none;
    border-bottom: 1px solid black;
    font-size: 12pt;
    max-width: 350px;
}

select{
    margin: 5px;
    border: none;
    border-bottom: 1px solid black;
    font-size: 10pt;
}

.select2{
    margin: 2px;
}

table {
    border: none;
    background: none;
}

td {
    border: 1px solid #DCDCDC;
    font-size: 10pt;
    padding:2px;
}

td:hover {
        border: 1px solid #87CEFA;
        font-size: 10pt;
    }

th {
    border: 1px solid #DCDCDC;
    font-size: 10pt;
    font-weight: bold;
    background-color: #F5F5F5;
    padding: 2px;
}

td > textarea{
    border: none;
    width: 90%;
}

td > input {
    border: none;
    width: 90%;
}

button {
    margin: 2px;
}

.navbar {
    background-color: #F0F8FF;
    border-bottom: 1px solid grey;
    padding: 2px;
}

h1{
    text-align:center;
    font-size:14pt;
    color: #0f0f0f;
    font-style: italic;
    display: block;
}

h2{
    text-align:left;
    font-size:14pt;
    display: block;
}

.chatbox{
    border-radius: 5px;
    border: 1px dashed #FFFFFF;
    text-align:left;
    font-size:12pt;
    color: #FFFFFF;
    background-color:#000000;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
    width: 100%;
}

.form-create{
    min-width: 400px;
    background-color: #F8F8F8;
    border-radius: 10px;
    padding: 5px;
    width: 95%;
}

.btn{
    max-width: 120px;
    width: 100%;
}

.btn-success{
    font-size: 14pt;
    background-color: #38944c;
    color: #ffffff;
    border: 5px solid #f0f0f0;
    border-radius: 5px;
}

.btn-success:hover{
    background-color: #38944c;
    color: #ffffff;
    border: 5px solid #2e7a3e;
    border-radius: 5px;
}

.btn-dark{
    font-size: 14pt;
    background-color: #202020;
    color: #FFFFFF;
    border: 5px solid #f0f0f0;
    border-radius: 5px;
}

.btn-dark:hover{
    background-color: #202020;
    color: #ffffff;
    border: 5px solid #000000;
    border-radius: 5px;
}

body{
    background-color: #f0f0f0;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
}

img{
    margin: 5px;
}

label{
    font-size: 12pt;
    font-weight: bold;
    width: 100%;
    text-align: left;
}

.preview-box{
    background-color: #FFFFFF;
    border: none;
    border-radius: 10px;
    text-align:  center;
    max-width: 360px;
    max-height: 360px;
    width: 100%;
}

.preview-box > button {
    width: 95% !important;
}

.preview-box > img {
    max-width: 350px;
    max-height: 350px;
}

.row{
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 0px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin: 0; /* Removes leftover margin */
}

.menu-item-box{
    width: 170px;
    padding: 0px;
    margin: 5px;
    background-color: #FFFFFF;
    height: 170px;
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.menu-item-img{
    max-width: 170px;
    margin: 0px;
    padding: 0px;
}

.menu-item-text{
    font-size: 10pt;
    font-style: italic;
    position: absolute;
    top: 145px;
    z-index: 10;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    text-align: center;
}

.item-button-bar{
    width: 100%;
    margin: 0;
    padding: 0;
}

.item-btn{
    border: 0;
    padding: 0;
    margin: 0;
    min-width: auto !important;
    width: 100%;
}

.loadingPage{
    position: fixed; 
    width: 100%; 
    height: 100%; 
    padding: 0; 
    margin: 0; 
    z-index: 10; 
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
}

.loadingIcon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.mainPage{
    min-width: 400px; 
    width: 98%; 
    padding: 10px; 
    display: block;
    margin: auto;
}

.shopLogo{
    display: block;
    border: 2px solid lightgrey;
    border-radius: 100%;
    width: 150px;
    margin: auto;
    padding: 8px;
    text-align: center;
}

.shopLogo > img {
    max-width: 120px;
    max-height: 120px;
}

.shopBox{
    width: 100%;
    padding: 5px;
    margin: 0;
    background-color: #FFFFFF;
    border-radius: 20px;
    border: 1px solid #F0F0F0;
}

.shopMenuBox{
    display: inline-block;
}

.shopOpeningHour{
    display: block;
    text-indent: 10px;
}

.shopFunctionBox{
    display: inline-block;
    cursor: pointer;
    padding-right: 20px;
}

.btn-sm{
    border: 0;
    text-decoration: underline;
    font-size: 10pt;
    text-transform: uppercase;
    width: auto;
}

.shopProfileButton{
    position: absolute;
    bottom: 0;
    right: 0;
}

.watermark{
    position: fixed; 
    right: 0; 
    bottom: 0; 
    filter: opacity(0.7);
    font-size: 14pt;
    font-weight: bold;
}

.footer{
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #3e3e3e;
    color: #fafafa;
    padding: 10px;
}