<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/common.css">
    <title>Login</title>
</head>
<body class="container">
    <script src="./js/jquery-3.5.1.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/js.cookie.min.js"></script>
    <script src="./js/vue.js"></script>
    <script src="./js/gm-image.js"></script>
    <script src="./js/common.js"></script>


    <div id='shops' style="max-width: 400px; width: 98%; padding: 10px; display:inline-block;">
        <!-- form header -->
        <div style="text-align: left; font-size: 16pt; background-color: #f0f0f0;">
            <img style="padding: 2px; width: 48px;" src="./ico/tomsix.png" />
            Menu
        </div>

        <!-- chatbox -->
        <div class="row text-center" :style="[(messages.Count>0)?{}:{'display':'none'}]">
            <div class="chatbox">
                <img style="float: left;" src="./ico/user2.png" />
                <span v-for="(item, index) in messages">{{item.MSG_TEXT}}<br /></span>                
            </div>
        </div>
        
        <div>
            <form>
                <!-- load item list -->
                <div id="itemList" class="row" style="margin: 0; padding: 0;">
                    <div style="width: 50%;" v-for="(item, index) in myItems">                                                
                        <div class="menu-item-box">
                            <img class="menu-item-img" :src="item.IMAGE_DATA">
                            <div class="menu-item-text">
                                {{item.ITEM_NAME}}&nbsp;
                                £{{item.PRICE}}
                            </div>
                        </div>
                        <div class="item-button-bar" :style='[item.COUNT==0?{}:{"display":"none"}]'>
                            <button class="btn btn-dark item-btn" 
                                    type="button"
                                    v-on:click="addItem(item.ITEM_ID)">Add</button>
                        </div>
                        <div class="item-button-bar" :style='[item.COUNT==0?{"display":"none"}:{}]'>
                            <button class="btn btn-dark item-btn" style="width: 35%;"
                                    type="button"
                                    v-on:click="addItem(item.ITEM_ID)">+</button>
                            <div
                                style="width: 25%; margin: 0; padding: 0; display: inline-block; text-align: center;"
                                >{{item.COUNT}}</div>
                            <button class="btn btn-dark item-btn" style="width: 35%;"
                                    type="button"
                                    v-on:click="removeItem(item.ITEM_ID)">-</button>
                        </div>
                    </div>
                    <div class="row" style="text-align: right; display: inline; width: 100%;">
                        Total: {{totalAmount}}
                    </div>
                    <div class="row" style="text-align: right; display: inline; width: 100%;">
                        <button class="btn btn-dark" type="button">Back</button>
                        <button class="btn btn-success" type="button" v-on:click='placeOrder()'>Order</button>
                    </div>
                </div>
                <button id="btnRefresh" style="display: none;" type="button" 
                        v-on:click="loadItemList()">Refresh</button>
                <!-- end -->

            </form>
        </div>
    </div>

    <script>
        var app = new Vue({
            el: '#shops',
            data: {
                myItems: Array,
                messages: Array,
                totalAmount: 0,
                myOrders: Array,
            },

            methods: {
                placeOrder: function(){
                    var self = this;
                    var pAccountId = Cookies.get("orderSessionID");
                    var aOrder = [];
                    for(i=0; i<self.myOrders.length; i++){
                        if(self.myOrders[i]!=null){
                            var seq = aOrder.length;
                            aOrder[seq] = self.myOrders[i];
                            aOrder[seq].SEQ = seq;
                        }
                    }
                    self.myOrders = aOrder;
                    Cookies.set("tempOrder",  JSON.stringify(self.myOrders));
                    if(pAccountId=='' || pAccountId==undefined){
                        window.location.href = 'order_signin.html';
                    }else{
                        window.location.href = 'shop-checkout.html';
                    }
                },

                updateTotalAmount: function(){
                    var t = 0;
                    var self = this;
                    for(i=0; i<self.myItems.length; i++){
                        if(self.myItems[i].COUNT>0){
                            t += self.myItems[i].COUNT * self.myItems[i].PRICE;
                        }
                    }
                    self.totalAmount = t;
                },

                addItem: function(pItemId){
                    var self = this;
                    console.log('s: '+pItemId);
                    for(i=0; i<self.myItems.length; i++){
                        console.log('d: '+self.myItems[i].ITEM_ID);
                        if(self.myItems[i].ITEM_ID==pItemId){
                            self.myItems[i].COUNT += 1;
                            self.myOrders[self.myOrders.length] = {
                                ITEM_ID: self.myItems[i].ITEM_ID,
                                ITEM_NAME: self.myItems[i].ITEM_NAME,
                                PRICE: self.myItems[i].PRICE,
                                IMAGE_DATA: self.myItems[i].IMAGE_DATA
                            };
                            break;
                        }
                    }
                    self.updateTotalAmount();
                },

                removeItem: function(pItemId){
                    var self = this;
                    console.log('s: '+pItemId);
                    for(i=0; i<self.myItems.length; i++){
                        console.log('d: '+self.myItems[i].ITEM_ID);
                        if(self.myItems[i].ITEM_ID==pItemId){
                            for(j=self.myOrders.length-1; j>=0; j--){
                                if(self.myOrders[j]!=null && self.myOrders[j].ITEM_ID==pItemId){
                                    self.myOrders[j] = null;
                                    break;
                                }
                            }
                            self.myItems[i].COUNT -= 1;
                            break;
                        }
                    }
                    self.updateTotalAmount();
                },

                loadItemList: function(){
                    var self = this;
                    var pLang = getUrlParameter("lang");
                    console.log('load item list');
                    console.log('shop-id:'+Cookies.get('shopId'));
                    var pData = {
                        "SHOP_ID": Cookies.get('shopId'),
                        "LANG": pLang,                      
                    };
                    $.ajax({
                        type: "POST",
                        url: "https://tomsix.azurewebsites.net/api/ShopMenu",
                        data: JSON.stringify(pData),
                        contentType: "application/json",
                        dataType: "json",
                        complete: function (jqXHR) {
                            if (jqXHR.readyState === 4) {
                                var shopRes = JSON.parse(jqXHR.responseText);
                                self.messages = [];
                                self.myItems = shopRes.items;
                                self.myOrders = [];
                            }
                        }

                    });
                }


            }
        });

        $(function() {
            $('#btnRefresh').click();
        });
    </script>

</body>
</html>
