<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/common.css">
    <title>Login</title>
</head>
<body class="container" style="background-color: #f0f0f0;">
    <script src="./js/jquery-3.5.1.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/js.cookie.min.js"></script>
    <script src="./js/vue.js"></script>

    <div style="max-width: 400px; width: 98%; padding: 10px; display:inline-block;">
        <!-- form header -->
        <div style="text-align: left; font-size: 16pt; background-color: #f0f0f0;">
            <img style="padding: 2px; width: 48px;" src="./ico/tomsix.png" />
            Shops
        </div>

        <!-- chatbox -->
        <div class="row text-center">
            <div class="chatbox">
                <img style="float: left;" src="./ico/user2.png" />
                No shops found.<br />
                Let's create your first shop.
            </div>
        </div>
        
        <div id='shops'>
            <form>
                <div class="row">
                    <label>Shop Name</label>
                    <input class="form-control" type="text" v-model="SHOP_NAME" />
                </div>
                <div class="row">
                    <label>Postcode</label>
                    <input class="form-control" type="text" v-model="POSTCODE" />                
                </div>
                <div class="row">
                    <label>Address 1</label>
                    <input class="form-control" type="text" v-model="ADDRESS1" />
                </div>
                <div class="row">
                    <label>Address 2</label>
                    <input class="form-control" type="text" v-model="ADDRESS2" />
                </div>
                <div class="row">
                    <label>Address 3</label>
                    <input class="form-control" type="text" v-model="ADDRESS3" />
                </div>
                <div class="row">
                    <label>Food Style</label>
                    <select class="form-control" v-model="FOOD_STYLE">
                        <option value="american">American</option>
                        <option value='japanese'>Japanese</option>
                        <option value="korean">Korean</option>
                        <option value="others">Others</option>
                    </select>
                </div>
                <div class="row" style="float: right">
                    <button class="btn btn-success" type="button" v-on:click="addNewShop()">Create</button>
                </div>            
            </form>
        </div>
    </div>

    <script>
        var app = new Vue({
            el: '#shops',
            data: {
                SHOP_NAME: '',
                POSTCODE: '',
                ADDRESS1: '',
                ADDRESS2: '',
                ADDRESS3: '',
                FOOD_STYLE: ''                
            },
            created: function () {
                console.log('Load Shops');
            },

            methods: {
                addNewShop: function () {
                    var self = this;
                    console.log('addNewShop');
                    console.log('session-id:'+Cookies.get('sessionID'));
                    var pData = {
                        "SHOP_NAME": this.SHOP_NAME,
                        "POSTCODE": this.POSTCODE,
                        "ADDRESS1": this.ADDRESS1,
                        "ADDRESS2": this.ADDRESS2,
                        "ADDRESS3": this.ADDRESS3,
                        "FOOD_STYLE": this.FOOD_STYLE,
                        "SESSION_ID": Cookies.get('sessionID')
                    };
                    $.ajax({
                        type: "POST",
                        url: "https://globalmenu-shop.azurewebsites.net/api/AddNewShop",
                        data: JSON.stringify(pData),
                        contentType: "application/json",
                        dataType: "json",
                        complete: function (jqXHR) {
                            if (jqXHR.readyState === 4) {
                                var shop = JSON.parse(jqXHR.responseText);
                                Cookies.set('shopId', shop.shopId);
                                window.location.href = './shop-image.html';
                            }
                        }
                    });
                }
            }
        })
    </script>

</body>
</html>
