<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/common.css">
    <title>Login</title>
</head>
<body class="container" style="background-color: #ffffff; text-align:center">
    <script src="./js/jquery-3.5.1.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/gm-image.js"></script>
    <script src="./js/openingHours.js"></script>
    <script src="./js/js.cookie.min.js"></script>
    <script src="./js/vue.js"></script>

    <div style="max-width: 400px; width: 98%; padding: 10px; display:inline-block;">
        <!-- form header -->
        <div style="text-align: left; font-size: 16pt; background-color: #f0f0f0;">
            <img style="padding: 2px; width: 48px;" src="./ico/tomsix.png" />
            Update Opening Hours
        </div>

        <!-- chatbox -->
        <div class="row text-center">
            <div class="chatbox">
                <img style="float: left;" src="./ico/user2.png" />
                The shop logo is uploaded.<br />
                Now you can update the opening hours.                 
            </div>
        </div>

        <!-- form -->
        <div id="shops">
            <form>
                <div id="step1">
                    <div class="row">
                        <label>Opening time</label>
                        <input class="form-control" id="openTime" name="openTime" type="time"/>                        
                    </div>
                    <div class="row">
                        <label>Closing time</label>
                        <input class="form-control" id="closeTime" name="closeTime" type="time"/>
                    </div>
                    <div class="row" style="float: right">
                        <button class="btn btn-dark" type="button" onclick="skipOpenHours()">Skip</button>
                        <button class="btn btn-success" type="button" onclick="goStep2()">Next</button>
                    </div> 
                </div>

                <!-- step 2 -->
                <div id="step2" style="display: none;">
                    <div class="row">
                        <label>Open days</label>
                    </div>
                    <div class="row">
                        <label class="checkbox-inline">
                            <input type="checkbox" v-model="monOpen">
                            Monday
                        </label>
                    </div>
                    <div class="row">
                        <label class="checkbox-inline">
                            <input type="checkbox" v-model="tueOpen">
                            Tuesday
                        </label>
                    </div>
                    <div class="row">
                        <label class="checkbox-inline">
                            <input type="checkbox" v-model="wedOpen">
                            Wednesday
                        </label>
                    </div>
                    <div class="row">
                        <label class="checkbox-inline">
                            <input type="checkbox" v-model="thuOpen">
                            Thursday
                        </label>
                    </div>
                    <div class="row">
                        <label class="checkbox-inline">
                            <input type="checkbox" v-model="friOpen">
                            Friday
                        </label>
                    </div>
                    <div class="row">
                        <label class="checkbox-inline">
                            <input type="checkbox" v-model="satOpen">
                            Saturday
                        </label>
                    </div>
                    <div class="row">
                        <label class="checkbox-inline">
                            <input type="checkbox" v-model="sunOpen">
                            Sunday
                        </label>
                    </div>
                    <div class="row" style="float: right">
                        <button class="btn btn-dark" type="button" onclick="backStep1()">Back</button>
                        <button class="btn btn-success" type="button" onclick="goStep3()">Next</button>
                    </div>       
                </div>         

                <div id="step3" style="display: none;">
                    <div class="row">
                        <label>Review opening hours</label>
                    </div>
                    <div class="row" :style="[monOpen?{}:{'display':'none'}]">
                        <label>Mon</label>
                        <input id="monOpenTime" v-model="MON_OPEN_TIME" type="time"/>
                        ~
                        <input id="monCloseTime" v-model="MON_CLOSE_TIME" type="time"/>
                    </div>
                    <div class="row" :style="[tueOpen?{}:{'display':'none'}]">
                        <label>Tue</label>
                        <input id="tueOpenTime" v-model="TUE_OPEN_TIME" type="time"/>
                        ~
                        <input id="tueCloseTime" v-model="TUE_CLOSE_TIME" type="time"/>
                    </div>
                    <div class="row" :style="[wedOpen?{}:{'display':'none'}]">
                        <label>Wed</label>
                        <input id="wedOpenTime" v-model="WED_OPEN_TIME" type="time"/>
                        ~
                        <input id="wedCloseTime" v-model="WED_CLOSE_TIME" type="time"/>
                    </div>
                    <div class="row" :style="[thuOpen?{}:{'display':'none'}]">
                        <label>Thu</label>
                        <input id="thuOpenTime" v-model="THU_OPEN_TIME" type="time"/>
                        ~
                        <input id="thuCloseTime" v-model="THU_CLOSE_TIME" type="time"/>
                    </div>
                    <div class="row" :style="[friOpen?{}:{'display':'none'}]">
                        <label>Fri</label>
                        <input id="friOpenTime" v-model="FRI_OPEN_TIME" type="time"/>
                        ~
                        <input id="friCloseTime" v-model="FRI_CLOSE_TIME" type="time"/>
                    </div>
                    <div class="row" :style="[satOpen?{}:{'display':'none'}]">
                        <label>Sat</label>
                        <input id="satOpenTime" v-model="SAT_OPEN_TIME" type="time"/>
                        ~
                        <input id="satCloseTime" v-model="SAT_CLOSE_TIME" type="time"/>
                    </div>
                    <div class="row" :style="[sunOpen?{}:{'display':'none'}]">
                        <label>Sun</label>
                        <input id="sunOpenTime" v-model="SUN_OPEN_TIME" type="time"/>
                        ~
                        <input id="sunCloseTime" v-model="SUN_CLOSE_TIME" type="time"/>
                    </div>
                    <div class="row" style="float: right">
                        <button class="btn btn-dark" type="button" onclick="backStep2()">Back</button>
                        <button class="btn btn-success" type="button" v-on:click="saveOpenHours()">Save</button>
                    </div>       
                </div>                
            </form>
        </div>
        <!-- end form -->

    </div>

    <script>
        var app = new Vue({
            el: '#shops',
            data: {
                monOpen: false,
                tueOpen: false,
                wedOpen: false,
                thuOpen: false,
                friOpen: false,
                satOpen: false,
                sunOpen: false,
                MON_OPEN_TIME: "",
                TUE_OPEN_TIME: "",
                WED_OPEN_TIME: "",
                THU_OPEN_TIME: "",
                FRI_OPEN_TIME: "",
                SAT_OPEN_TIME: "",
                SUN_OPEN_TIME: "",
                MON_CLOSE_TIME: "",
                TUE_CLOSE_TIME: "",
                WED_CLOSE_TIME: "",
                THU_CLOSE_TIME: "",
                FRI_CLOSE_TIME: "",
                SAT_CLOSE_TIME: "",
                SUN_CLOSE_TIME: ""
            },
            created: function () {
                console.log('Load Shops');
            },

            methods: {
                saveOpenHours: function () {
                    var self = this;
                    console.log('addNewShop');
                    console.log('session-id:'+Cookies.get('sessionID'));
                    var pData = {
                        "MON_OPEN_TIME": this.monOpen?this.MON_OPEN_TIME:"",
                        "TUE_OPEN_TIME": this.tueOpen?this.TUE_OPEN_TIME:"",
                        "WED_OPEN_TIME": this.wedOpen?this.WED_OPEN_TIME:"",
                        "THU_OPEN_TIME": this.thuOpen?this.THU_OPEN_TIME:"",
                        "FRI_OPEN_TIME": this.friOpen?this.FRI_OPEN_TIME:"",
                        "SAT_OPEN_TIME": this.satOpen?this.SAT_OPEN_TIME:"",
                        "SUN_OPEN_TIME": this.sunOpen?this.SUN_OPEN_TIME:"",
                        "MON_CLOSE_TIME": this.monOpen?this.MON_CLOSE_TIME:"",
                        "TUE_CLOSE_TIME": this.tueOpen?this.TUE_CLOSE_TIME:"",
                        "WED_CLOSE_TIME": this.wedOpen?this.WED_CLOSE_TIME:"",
                        "THU_CLOSE_TIME": this.thuOpen?this.THU_CLOSE_TIME:"",
                        "FRI_CLOSE_TIME": this.friOpen?this.FRI_CLOSE_TIME:"",
                        "SAT_CLOSE_TIME": this.satOpen?this.SAT_CLOSE_TIME:"",
                        "SUN_CLOSE_TIME": this.sunOpen?this.SUN_CLOSE_TIME:"",
                        "SESSION_ID": Cookies.get('sessionID'),
                        "SHOP_ID": Cookies.get('shopId')
                    };
                    $.ajax({
                        type: "POST",
                        url: "https://globalmenu-shop.azurewebsites.net/api/UpdateOpenHours",
                        data: JSON.stringify(pData),
                        contentType: "application/json",
                        dataType: "json",
                        complete: function (jqXHR) {
                            if (jqXHR.readyState === 4) {
                                var shop = JSON.parse(jqXHR.responseText);
                                window.location.href = './shops.html';
                            }
                        }
                    });
                }
            }
        })
    </script>


</body>
</html>
