<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/common.css">
    <title>Login</title>
</head>
<body class="container">
    <script src="./js/jquery-3.5.1.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/js.cookie.min.js"></script>
    <script src="./js/vue.js"></script>
    <script src="./js/common.js"></script>
    <script
        async
        src="https://pay.google.com/gp/p/js/pay.js"
        onload="console.log('TODO: add google pay api onload function')">
    </script>
    <script src="./js/googlepay.js"></script>

    <div id='shops' style="max-width: 400px; width: 98%; padding: 10px; display:inline-block;">
        <!-- form header -->
        <div style="text-align: left; font-size: 16pt; background-color: #f0f0f0;">
            <img style="padding: 2px; width: 48px;" src="./ico/tomsix.png" />
            Checkout
        </div>

        <!-- chatbox -->
        <div class="row text-center" :style="[(messages.Count>0)?{}:{'display':'none'}]">
            <div class="chatbox">
                <img style="float: left;" src="./ico/user2.png" />
                <span v-for="(item, index) in messages">{{item.MSG_TEXT}}<br /></span>                
            </div>
        </div>
        
        <div>
            <form>
                <!-- load item list -->
                <div id="itemList" class="row" style="margin: 0; padding: 0;">
                    <div class="row" v-for="(item, index) in myOrders">                                                
                        <div class="col-8">{{item.ITEM_NAME}}</div>
                        <div class="col-2" style="text-align: right;">£{{item.PRICE}}</div>
                        <div class="col-2">
                            <button style="border: 0; padding: 0; margin: 0;" 
                                type="button"
                                v-on:click="removeOrder(item.SEQ)">
                                <img style="padding: 0; margin: 0;" src="./ico/trash.png">
                            </button>
                        </div>
                    </div>
                    <div class="row" style="text-align: right; display: inline; width: 100%;">
                        Total: {{totalAmount}}
                    </div>
                    <div class="row" style="text-align: right; display: inline; width: 100%;">
                        <button class="btn btn-dark" type="button" v-on:click='backToMenu()'>Back</button>
                        <button class="btn btn-success" type="button" v-on:click='pay()'>Pay</button>
                    </div>
                </div>
                <button id="btnRefresh" style="display: none;" type="button" 
                        v-on:click="loadOrderList()">Refresh</button>
                <!-- end -->

            </form>
        </div>
    </div>

    <script>
        var app = new Vue({
            el: '#shops',
            data: {
                myOrders: Array,
                messages: Array,
                totalAmount: 0
            },

            methods: {
                pay: function(){
                },

                backToMenu: function(){
                    window.location.href = "./foodmenu.html";
                },

                updateTotalAmount: function(){
                    var t = 0;
                    var self = this;
                    for(i=0; i<self.myOrders.length; i++){
                        t += self.myOrders[i].PRICE;
                    }
                    self.totalAmount = t;
                },

                removeOrder: function(pOrderSeq){
                    var self = this;
                    for(i=0; i<self.myOrders.length; i++){
                        if(self.myOrders[i].SEQ==pOrderSeq){
                            self.myOrders.splice(i, 1);
                        }
                    }
                    self.updateTotalAmount();
                },

                loadOrderList: function(){
                    var self = this;
                    var tempOrder = JSON.parse(Cookies.get("tempOrder"));
                    Cookies.remove("tempOrder");
                    self.myOrders = tempOrder.myOrders;
                    for(i=0; i<self.myOrders.length; i++){
                        console.log(i + ": " + self.myOrders[i]);
                    }
                    self.updateTotalAmount();
                }


            }
        });

        $(function() {
            $('#btnRefresh').click();
        });
    </script>

</body>
</html>
